<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.timu.shop.product.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="fun.timu.shop.product.model.DO.ProductDO">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="coverImg" column="cover_img" />
            <result property="detail" column="detail" />
            <result property="categoryId" column="category_id" />
            <result property="oldPrice" column="old_price" />
            <result property="price" column="price" />
            <result property="stock" column="stock" />
            <result property="lockStock" column="lock_stock" />
            <result property="salesCount" column="sales_count" />
            <result property="sort" column="sort" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,cover_img,detail,category_id,old_price,
        price,stock,lock_stock,sales_count,sort,
        status,create_time,update_time,del_flag
    </sql>

    <!-- 扣减库存 -->
    <update id="decreaseStock">
        UPDATE product
        SET stock = stock - #{quantity}
        WHERE id = #{id}
          AND stock >= #{quantity}
          AND del_flag = 0
    </update>

    <!-- 增加库存 -->
    <update id="increaseStock">
        UPDATE product
        SET stock = stock + #{quantity}
        WHERE id = #{id}
          AND del_flag = 0
    </update>

    <!-- 锁定库存 -->
    <update id="lockStock">
        UPDATE product
        SET stock = stock - #{quantity},
            lock_stock = lock_stock + #{quantity}
        WHERE id = #{id}
          AND stock >= #{quantity}
          AND del_flag = 0
    </update>

    <!-- 释放锁定库存 -->
    <update id="releaseLockStock">
        UPDATE product
        SET stock = stock + #{quantity},
            lock_stock = lock_stock - #{quantity}
        WHERE id = #{id}
          AND lock_stock >= #{quantity}
          AND del_flag = 0
    </update>
</mapper>
